#title {
    display: inline-block;
    width: 100%;
}

.maze {
    display: block;
    border: 3px solid black;
    width: 600px; /* HACK */
    float: left;
}
.row {
    display: inline-block;
    width: 100%;
}
.cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    float: left;
}

#buttons-container {
    display: inline-block;
    width: 130px;
}
.button {
    width: 100%;
    padding: 3px;
    font-family: Arial;
}
.button:hover {
    background: #c0d5f7;
}
